@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grey-120: #303137;
    --bg-primary: #fff;
    --text-primary: #000;
    color-scheme: light;
  }

  .dark {
    --grey-120: #f9f9fa;
    --bg-primary: #000;
    --text-primary: #fff;
    color-scheme: dark;
  }

  /* An other alternative
  [data-theme="dark"] {
    --grey-120: #f9f9fa;
  } */
}

@layer components {
  .publicite_label:has(+ .publicite iframe[width="300"]) {
    width: 300px;
  }

  .publicite_label:has(+ .publicite iframe[width="320"]) {
    width: 320px;
  }

  .publicite_label:has(+ .publicite iframe[width="728"]) {
    width: 728px;
  }

  .publicite_label:has(+ .publicite iframe[width="970"]) {
    width: 970px;
  }
}
