@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .publicite_label:has(+ .publicite iframe[width='300']) {
    width: 300px;
  }

  .publicite_label:has(+ .publicite iframe[width='320']) {
    width: 320px;
  }

  .publicite_label:has(+ .publicite iframe[width='728']) {
    width: 728px;
  }

  .publicite_label:has(+ .publicite iframe[width='970']) {
    width: 970px;
  }
}
